<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | GymGame  </title>

    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav">
            <li class="navbar-brand">QuizMaster Admin</li>
            <li>@Html.ActionLink("Home", "")</li>
            <li>@Html.ActionLink("Maak nieuw game", "New")</li>
            <li>@Html.ActionLink("Beheer games", "Manage")</li>
            <li>@Html.ActionLink("Start games", "Start")</li>
        </ul>
    </nav>
<<<<<<< HEAD
=======
    </div>

>>>>>>> origin/backendEdit
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
