@model List<GymGame.Models.Quiz>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/QuizMaster/_LayoutQuizMaster.cshtml";
}

<h2>Beheer Games</h2>

<ul>
   @foreach (GymGame.Models.Quiz q in Model)
   { 
    <li>Quiz: @q.Quiz_Id @q.name @q.Location @q.Date 
       <input type="hidden" name="@q.Quiz_Id" />
        <a href="~/Quizmaster/Edit/@q.Quiz_Id">Aanpassen</a>
        <a href="~/Quizmaster/Delete/@q.Quiz_Id">Verwijder</a>
    </li>
   }

</ul>